.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 1rem;
	margin: 0 1rem;
}

.main-header-title {
	cursor: pointer;
	font-size: 2rem;
	font-family: "Orbitron", sans-serif;
	transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);

	margin-inline: auto;
	overflow: hidden;
	white-space: nowrap;
	/* the cursor */
	/* border-right: 0.5rem solid var(--accent-color); */
	animation: typing 3s steps(22) forwards;
}

.main-header-title:hover {
	transform: scale(1.1);
}

.main-header-title a,
a:link,
a:visited,
a:hover,
a:active {
	color: var(--text-color);
	text-decoration: none;
}

.blinker {
	display: inline-block;
	transform: scale(1.2, 1);
	animation: blink ease 1s alternate infinite;
	color: var(--accent-color);
}

@keyframes blink {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes blinking {
	50% {
		border-color: transparent;
	}
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@media (min-width: 1024px) {
	.main-header-title {
		font-size: 3rem;
	}
}
