.button-wrapper {
}

button:hover {
	transform: scale(1.3);
	transition: all 150ms;
}

.button {
	display: block;
	color: var(--text-color);
	background-color: var(--background-color);
	font-weight: bold;
	padding: 0.2em 0.8em;
	border: 1px solid var(--text-color);
	border-radius: 8px;
	cursor: pointer;
	transition: all 150ms;
}

.button-danger {
	color: red;
	border: 1px solid red;
}

.button-submit {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.margin-top {
	margin-top: 2em;
}

.center {
	display: flex;
	justify-content: center;
}

button:disabled {
	color: var(--light-grey);
}

.edit {
	color: orange;
	border: 1px solid orange;
}

.x {
	position: absolute;
	font-size: 1.4em;
	top: -0.5rem;
	right: 0.5rem;
	padding: 0.2em;
	border-style: none;
	border-radius: 100%;
	background-color: transparent;
	color: var(--text-color);
	cursor: pointer;
}

.x:hover {
	transform: scale(1.3);
}
