.button-wrapper {
}

button {
	display: block;
	color: var(--text-color);
	background-color: var(--background-color);
	font-weight: bold;
	padding: 0.2em 0.8em;
	border: 1px solid var(--text-color);
	border-radius: 8px;
	cursor: pointer;
}

button:active {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.button-danger {
	color: red;
	border: 1px solid red;
}

.margin-top {
	margin-top: 2em;
}

.center {
	display: flex;
	justify-content: center;
}

button:disabled {
	color: var(--light-grey);
}

.edit {
	color: orange;
	border: 1px solid orange;
}
