.text-upload-wrapper {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input {
	width: 40%;
	border-radius: var(--img-border-radius);
	padding: 0.5em;
}

.textarea {
	height: 20em;
	width: 40%;
	border-radius: var(--img-border-radius);
	padding: 0.5em;
}

.error-message {
	padding: 1em;
	color: red;
	display: none;
}

input:invalid ~ .error-message,
textarea:invalid ~ .error-message {
	display: block;
}
