@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&display=swap");

/* ||RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

input,
textarea,
button {
	font: inherit;
}

img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: var(--img-border-radius);
}

/* ||VARIABLES */
:root {
	/* COLORS */
	--text-color: #000;
	--background-color: #fff;
	--light-grey: #5c5c5c;
	--accent-color: rgb(67, 250, 76);
	--translucent-rgba: 255;

	/* MESUREMENTS */
	--img-border-radius: 5%;
	--blur: blur(2px);
}

[data-theme="dark"] {
	/* COLORS */
	--text-color: #fff;
	--background-color: #000;
	--light-grey: #9b9b9b;
	--translucent-rgba: 0;
}

[data-filter="unblur"] {
	--blur: blur(0px);
}

[data-color="translucent"] {
	--translucent: rgba(
		var(--translucent-rgba),
		var(--translucent-rgba),
		var(--translucent-rgba),
		0.5
	);
}

/* ||UTILITY CLASSES */
.center {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

/* ||GENERAL STYLES && CLASSES */
html {
	font-family: "Nunito", sans-serif;
}

body {
	transition: background-color, color, opacity, backdrop, 0.5s;
	color: var(--text-color);
	background-color: var(--background-color);
	max-width: 1279px;
	margin: 0 auto;
}

svg {
	width: 16px;
	height: auto;
	fill: currentColor;
}
