.article-hero {
	position: relative;
	position: sticky;
	top: -1px;
}

.article-img-wrapper {
	/* position: sticky;
	top: -1px; */
	background-color: var(--background-color);
	transition: background-color, 0.5s;
}

.article-metadata-wrapper {
	z-index: 5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: opacity, 0.5s;
}

.article-title {
	color: var(--text-color);
	text-align: center;
}

.article-icon-date {
	display: flex;
	align-items: start;
	justify-content: center;
	column-gap: 0.3em;
	color: var(--light-grey);
}

.article-hero::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	backdrop-filter: var(--blur);
	background-color: var(--translucent);
	position: absolute;
	top: 0;
	left: 0;
	transition: backdrop-filter, background-color, opacity, 0.5s;
}

.article-metadata-wrapper:active,
.article-hero:active::after {
	transition: backdrop-filter, background-color, opacity, 0.5s;
	opacity: 0;
}

.decorations-off {
	backdrop-filter: blur(100px);
}

/* Paragraph */
.paragraph {
	margin-top: 0.5em;
	text-align: center;
}
